
.square-container {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	padding: 30px 0;
	border-radius: 6px;
	border: 3px solid #ddd;
	margin: 30px;
}
.head-select {
	display: flex;
	justify-content: center;
	margin-top: 20px;
	margin-left: 65px;
}
.head-select span {
	width: 58px;
	height: 16px;
	padding: 5px;
	margin-bottom: 4px;
	margin-top: 4px;
	text-align: center;
	border: 1px solid #ddd;
	border-radius: 2px;
	font-size: 15px;
	line-height: 15px;
	color: #252775;
	background-color: rgb(250, 246, 246);
}
.select-date h6 {
	width: 125px;
	height: 14px;
	border: 1px solid #ddd;
	border-radius: 2px;
	font-size: 16px;
	text-align: center;
    padding: 5px;
    margin-right: 10px;
    line-height: 15px;
	color: #252775;
    background-color: rgb(250, 246, 246);
}
.select-date {
	display: flex;
	justify-content: center;
	justify-items: center;
	margin: 0 20px;
    position: relative;
}
.select-date select {
	width: 70px;
	height: 26px;
	padding: 5px;
	border-radius: 2px;
	font-size: 14px;
	-webkit-appearance: none;
	background-image: url('../images/arrow.png');
	background-size: 20px 20px;
	background-color: rgb(250, 246, 246);
	border: 1px solid #ddd;
	background-position: right center;
	background-repeat: no-repeat;
	line-height: 1em;
	cursor: pointer;
	-moz-appearance: none;
	text-overflow: '';
	-ms-appearance: none;
	appearance: none !important;
	color: #252775;
}
.select-date option {
	color: #252775;
}
.btn-calc {
	width: 70px;
	height: 26px;
	padding: 5px;
	margin-left: 10px;
	font-size: 14px;
	font-weight: bold;
	line-height: 10px;
	border-radius: 2px;
    cursor: pointer;
	border: 1px solid #ddd;
	color: #252775;
}
.btn-calc:active {
	color: #ADD8E6;
}
.prompt {
	margin-top: 20px;
	margin-left: 46%;
	color: #252775;
}
.square {
	text-align: center;
}
.square h1 {
	text-align: center;
	font-size: 20px;
	margin: 0;
	padding: 16px;
	color: #0a6590;
}
.square p {
	font-size: 20px;
	margin-left: 5px;
	color: #252775;
	font-weight: bold;
}
.row {
	display: flex;
}
.row div {
	width: 150px;
	height: 150px;
	border: 2px solid rgb(239, 232, 232);
	margin: 2px;
	border-radius: 4px;
}
.colrow-list {
	padding-right: 15px;
	margin-top: 5px;
	border: 1px solid #fdfd;
	border-radius: 4px;
	border: 2px solid rgb(239, 232, 232);
}
.colrow-list li {
	margin-bottom: 5px;
	font-size: 20px;
	line-height: 1.5;
	list-style-type: none;
	color: #0a6590;
}
.colrow-list ul {
	margin-top: 10px;
	padding-left: 20px;
}
.col-row {
	font-weight:bold;
	color: #252775;
}
.show-date {
	margin: 30px 90px;
	color:#252775;
}
.description-block {
	width: 94%;
	margin:10px 0 20px 30px;
}
.description-list {
	line-height: 1.5;
	list-style-type: none;
}
.description-list li {
	font-size: 20px;
	color: #252775;
	font-weight:bold;
	margin-bottom: 5px;
	border-radius: 4px;
	padding: 5px 10px;
}
.description-list span {
	font-size: 18px;
	font-weight:normal;
}
.description-list li:nth-child(odd){
	border: 2px solid #c7fcfa;
}
.description-list li:nth-child(even){
	border: 2px solid #ddd;
}
.hidden {
    display: none;
}
  #date {
	height: 50px;
	width: 300px;
	text-align: center;
	font-size: 15px;
	background-color: #ADD8E6;
	border:#ADD8E6;
	border-radius: 4px;
	margin-top: 10px;
  }
  .product-item {
	width: 300px;
	text-align: center;
	margin: 0 auto;
	border-bottom: 2px solid #F5F5F5;
	background: white;
	font-family: "Open Sans";
 }
 .product-list {
	background: #fafafa;
	padding: 15px 0;
	margin-top: 10px;
 }
 .product-list h3 {
	font-size: 20px;
	font-weight: 400;
	color: #535252;
 }
 main{
	opacity: 0;
  animation: ani 1.5s forwards;
 }
 @keyframes ani {
	0% {opacity: 0;}
	100% {opacity: 1;}
 }
 
 
 







