.square-container {
	display: inline-block;
	background-color: #20B2AA;
	border-radius: 6px;
	border: 3px solid #ddd;
	margin: 30px;
	text-align: center;
}
.square {
	margin: 40px;
}
.square h1 {
	text-align: center;
	font-size: 18px;
	margin: 0;
	padding: 8px;
	color: #1c313b;
}
.square p {
	font-size: 16px;
	margin-left: 5px;
	color: #154c63;
	font-weight: bold;
}
.row {
	display: flex;
}
.row div {
	width: 80px;
	height: 80px;
	background-color: #ddd;
	border: 1px solid #fdfd;
	margin: 1px;
	border-radius: 4px;
	box-shadow: 10px 5px 5px #ADD8E6;
}


