* {
	margin: 0;
	padding: 0;
}
.square-container {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	padding: 30px 0;
	/* background-color: #9dcad2; */
	border-radius: 6px;
	border: 3px solid #ddd;
	margin: 30px;
}
.head-select {
	display: flex;
	justify-content: center;
	margin-left: 67px;
}
.head-select span {
	width: 60px;
	height: 16px;
	padding: 5px;
	margin-bottom: 4px;
	margin-top: 4px;
	text-align: center;
	border: 1px solid #1c313b;
	border-radius: 2px;
	font-size: 16px;
	line-height: 15px;
	box-shadow: 5px 5px 5px #ADD8E6;
	background-color: rgb(250, 246, 246);
}
.select-date h6 {
	width: 125px;
	height: 14px;
	border: 1px solid #444;
	border-radius: 2px;
	box-shadow: 5px 5px 5px #ADD8E6;
	font-size: 16px;
	text-align: center;
    color: #444;
    padding: 5px;
    /*margin: 4px;*/
    line-height: 15px;
    background-color: rgb(250, 246, 246);
}
.select-date {
	display: flex;
	justify-content: center;
	justify-items: center;
	margin: 0 20px;
    position: relative;
}
.select-date select {
	width: 70px;
	height: 26px;
	padding: 5px;
	/*margin: 4px;*/
	border-radius: 2px;
	font-size: 14px;
	-webkit-appearance: none;
	background-image: url('arrow.png');
	background-size: 20px 20px;
	background-color: rgb(250, 246, 246);
	background-position: right center;
	background-repeat: no-repeat;
	line-height: 1em;
	cursor: pointer;
	box-shadow: 5px 5px 5px #ADD8E6;
	/* for FF */
	-moz-appearance: none;
	/*text-indent: 0.01px; */
	text-overflow: '';
	/* for IE */
	-ms-appearance: none;
	appearance: none !important;
}
/* select::-ms-expand {
	display: none;
} */
.btn-select {
	width: 70px;
	height: 26px;
	padding: 5px;
	/*margin: 2px;*/
	font-size: 14px;
	line-height: 10px;
	border-radius: 2px;
    color: #0a6590;
    cursor: pointer;
	border: 1px solid #444;
	box-shadow: 5px 5px 5px #ADD8E6;
}
.square {
	text-align: center;
}
.square h1 {
	text-align: center;
	font-size: 20px;
	margin: 0;
	padding: 16px;
	color: #0a6590;
}
.square p {
	font-size: 20px;
	margin-left: 5px;
	color: #0a6590;
	font-weight: bold;
}
.row {
	display: flex;
}
.row div {
	width: 150px;
	height: 150px;
	background-color: rgb(239, 232, 232);
	border: 1px solid #fdfd;
	margin: 2px;
	border-radius: 4px;
	box-shadow: 10px 5px 5px #ADD8E6;
}
.colrow-list {
	padding-right: 15px;
	margin-top: 5px;
	background-color: rgb(239, 232, 232);
	border: 1px solid #fdfd;
	border-radius: 4px;
	box-shadow: 10px 5px 5px #ADD8E6;
}
.colrow-list li {
	margin-bottom: 5px;
	font-size: 20px;
	line-height: 1.5;
	list-style-type: none;
	color: #0a6590;
}
.colrow-list ul {
	margin-top: 10px;
	padding-left: 20px;
}
.colrow-list span {
	font-weight:bold;
}
.show-date {
	margin: 30px 90px;
}
.description-block {
	width: 94%;
	margin:10px 0 20px 40px;
}
.description-list {
	line-height: 1.5;
	list-style-type: none;
}
.description-list li {
	font-size: 20px;
	color: #1a1c1c;
	font-weight:bold;
	margin-bottom: 5px;
	border-radius: 4px;
	padding: 5px 10px;
}
.description-list span {
	font-size: 18px;
	font-weight:normal;
}
.description-list li:nth-child(odd){
	background-color: #c7fcfa;
}
.description-list li:nth-child(even){
	background-color: #ddd;
}




